@each $nombre, $color in $colors { // <nombre>: <color>
  .color--#{$nombre} {
    color: #{$color};
  }

  .bg--#{$nombre} {
    background-color: #{$color};
  }
}

@each $nombre, $peso in $weights {
  .font-weight--#{$nombre} {
    font-weight: #{$peso};
  }
}