.button {
  display: inline-block;
  padding: 12px 24px;
  color: #e5e5d6;
  font-weight: 600;
  border: 1px solid #e5e5d6;

  &.button__primary {
    background-color: #263230;
    text-transform: uppercase;
    border: 1px solid #e5e5d6;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e5e5d6;
      color: #263230;
    }

    &:focus {
      outline: 4px solid #7f8d74;
    }

    &:pressed {
      background-color: #b1aa9d;
    }
  }
}
.button__secondary {
  color: map-get($colors, mineral);

  &:focus {
    outline: 4px solid #7f8d74;
  }
  &:disabled {
    color: map-get($colors, madera);
  }
  &:pressed {
    color: map-get($colors, musgo);
  }
}
