.footer {
  display: flex;
  flex-direction: column;
  background: map-get($colors, mineral);
  color: map-get($colors, arroz);
  padding: 72px 0;

  @include response(small) {
    flex-direction: row;
  }

  @include response(medium) {
    padding: 120px 0;
  }

  button {
    margin-bottom: 74px;
  }

  .titulo {
    margin-top: 40px;
    margin-bottom: 74px;
    text-transform: uppercase;
  }

  .footer__btn {
    background-color: map-get($colors, mineral);
  }

  .direccion {
    @include response(medium) {
      margin-top: 60px;
    }
  }

  .media {
    display: flex;
    margin-bottom: 80px;
    margin-top: 72px;
    :hover {
      color: #b1aa9d;
    }
    &:focus {
      color: map-get($colors, arroz);
      outline: 4px solid #7f8d74;
    }
    :pressed {
      color: map-get($colors, musgo);
    }
    li:last-child {
      padding-left: 24px;
    }
  }

  .brand {
    p {
      color: map-get($colors, madera);
      font-weight: 600;
    }
  }
}
