@use "sass:map";

/*
  RESUELTO ✅
  1) Fijate que estás declarando los estilos de manera "separada". De la forma en la que estás declarando vos las cosas, podría haber un elemento <div className="titulo"></div> fuera del footer que va a tener los estilos que vos definiste abajo. 

  ESTO ESTA MAL ❌
    .footer {
      [estilos]
    }

    .titulo {
      [estilos]
    }

  ESTO ESTÁ BIEN ✅
    .footer {
      [estilos]

      .titulo {
        [estilos]
      }
    }
*/

.footer {
  display: flex;
  flex-direction: column;
  background: map-get($colors, mineral);
  color: map-get($colors, arroz);
  padding: 72px 0;

  @include response(small) {
    flex-direction: row;
  }

  @include response(medium) {
    padding: 120px 0;
  }

  :hoverbutton {
    background-color: white;
  }

  .titulo {
    margin-top: 40px;
    margin-bottom: 74px;
  }

  .direccion {
    @include response(medium) {
      margin-top: 60px;
    }
  }

  .media {
    display: flex;
    margin-bottom: 80px;
    margin-top: 72px;
    li:last-child {
      padding-left: 24px;
    }
  }

  .brand {
    p {
      color: map-get($colors, madera);
      font-weight: 600;
    }
  }
}
