@use "sass:map";

/*
  JUANSO:
  1) Fijate que estás dedicando los estilos de manera "separada". De la forma en la que estás declarando vos las cosas, podría haber un elemento <div className="titulo"></div> fuera del footer que va a tener los estilos que vos definiste abajo. 

  ESTO ESTA MAL ❌
    .footer {
      [estilos]
    }

    .titulo {
      [estilos]
    }

  ESTO ESTÁ BIEN ✅
    .footer {
      [estilos]

      .titulo {
        [estilos]
      }
    }
*/
.footer {
  display: flex;
  flex-direction: column;
  background: #263230;
  color: map-get($colors, arroz);
  padding: 72px 60px 120px 16px;

  @include response(small) {
    flex-direction: row;
  }
}

.titulo {
  margin-top: 40px;
  margin-bottom: 74px;
}

.media {
  display: flex;
  margin-bottom: 80px;
  margin-top: 72px;
  li:last-child {
    padding-left: 24px;
  }
}

.brand {
  p {
    color: map-get($colors, madera);
    font-weight: 600;
  }
}
