.hero {
  max-width: 100vw;
  padding-bottom: 72px;
  background-color: map-get($colors, mineral);
  color: map-get($colors, arroz);
  overflow-x: hidden;

  @include response(small) {
    padding-bottom: 168px;
  }

  @include response(medium) {
    padding-bottom: 120px;
    overflow: visible;
  }

  .hero__scrolling-area {
    height: 150vh;
    margin-bottom: 80px;

    @include response(medium) {
      height: 150vw;
    }

    .area {
      position: sticky;
      top: 0;
      z-index: 9999;
    }
  }

  h2 {
    position: relative;
    margin: 24px 0;
    text-transform: uppercase;
    z-index: 90;

    @include response(medium) {
      margin: 120px 0;
    }
  }

  .hero__images {

    img {
      display: none;

      @include response(medium) {
        display: inline-block;
      }
    }

    .img {
      width: 352px;
      opacity: 0;
      transition: opacity 0.3s ease;

      &.visible {
        opacity: 1;
      }

      &.img__animated {
        position: relative;
        padding-bottom: 100%; // Esto la hace cuadrada
        background-image: url("../../../../assets/images/hero/hero-image-2@2x.png"); // Usamos el 2x para que se vea bien cuando se estire.
        background-size: cover;
        background-position: center;

        @include response(medium) {
          padding: 0;
        }
      }

      &:first-child {
        margin-right: 32px;
      }

      &:last-child {
        margin-left: 32px;
      }
    }
  }
}
