@use "sass:map";

.experience {
  background-color: map-get($colors, mineral);
  color: map-get($colors, arroz);
  display: flex;
  align-content: center;

  .exp-title {
    text-align: center;
    padding: 0px 16px;
    margin-top: 72px;
  }

  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include response(medium) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  img {
    width: 100%;
  }
  .exp {
    width: 100%;
    margin: 24px 0px 24px;
    background-color: map-get($colors, mineral);

    .titulo-exp {
      padding: 24px 0px 8px;
      margin: 0;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}

.exp-title {
  text-align: center;
  padding: 0px 16px;
  margin-top: 72px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include response(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
