.spa {
  padding: 120px 0;
  background-color: map-get($colors, arroz);

  .container {
    max-width: 928px;
  }

  .testimonials__carousel {

    .slick-arrow {
      position: absolute;
      top: calc(100% + 48px); 

      // Posicionamos las flechas izquierda y derecha
      &.slick-prev {
        left: 112px;
      }

      &.slick-next {
        right: 112px;
      }

      // Quitamos las flechas que vienen por defecto
      &:before,
      &:after {
        content: '';
        display: none;
      }
    }
  }

  .testimonio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    p {
      margin: 0;
    }

    .testimonio__frase {
      margin-bottom: 32px;

      @include response(medium) {
        max-width: 640px;
        width: 60%;
        order: 1;
      }
    }

    .testimonio__imagen {
      margin-right: 16px;

      @include response(medium) {
        order: 0;
        width: 256px;
        height: 256px;
        margin-right: 32px;
      }
    }

    .testimonio__autor {
      margin-top: 32px;

      .separador {
        width: 40px;
        height: 1px;
        margin: 0 16px;
      }

      span {
        text-transform: uppercase;
      }
    }
  }
}
